# Токен бота от @BotFather
BOT_TOKEN=8146936280:AAHc0U-Dce14uDJnEFnbvDmX_rk2s3wjD-k

# ID чата мастера (куда будут отправляться запросы)
# Получить можно через @userinfobot или @getidsbot
MASTER_CHAT_ID=363622461

# Настройки базы данных
DATABASE_PATH=./database/bot.db

# Настройки логирования
LOG_LEVEL=info
LOG_FILE=./logs/bot.log

# Настройки webhook (опционально)
# WEBHOOK_URL=https://yourdomain.com
# WEBHOOK_PORT=3000
# WEBHOOK_SECRET=your_webhook_secret
